@import 'styles/base/mixins.scss';
@import 'styles/base/colors.scss';
.bottomTabContainer{
    @include center;
    border-top: 1px solid $primary;
    justify-content: space-between;
    flex-grow: 1;
    .tabItem{
        border:none;
        background-color: transparent;
        @include center;
        flex-direction: column;
        padding: 1rem;
        width: 100%;
        cursor: pointer;
        gap:5px;
    }
}